.ending-page {
    color: #eaeaea; /* Text color */
    text-align: center; /* Center text */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Ensure minimum height is 100vh */
    font-family: 'Orbitron', sans-serif; /* Set font family */
    width: 100%;
    z-index: 100000;
  }
  
  .ending-header {
    font-size: 7.8rem; /* Header size */
    margin-bottom: 1rem; /* Space below header */
    display: flex;
    flex-direction: row;
  }
  
  .ending-message {
    font-size: 1.8rem; /* Message size */
    margin-bottom: 2rem; /* Space below message */
    width: 80%;
  }
  
  .ending-links {
    display: flex; /* Flex container for links */
    gap: 2rem; /* Space between links */
  }
  
  .ending-link {
    padding: 0.5rem 1rem;
    background-color: #a31619;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }

  .ending-link:hover {
    background-color: #8c1416;
  }

  .waving-emoji {
    display: inline-block;
    animation: wave 1s infinite ease-in-out;
    font-size: 7.8rem;
  }
  
  @keyframes wave {
    0% {
      transform: translateX(0) rotate(0deg); /* Original position */
    }
    50% {
      transform: translateX(0) rotate(20deg); /* Move right and rotate */
    }
    100% {
      transform: translateX(0) rotate(0deg); /* Back to original */
    }
  }
  
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .ending-header {
      font-size: 2.5rem; /* Smaller header on mobile */
    }
  
    .ending-message {
      font-size: 1rem; /* Smaller message on mobile */
    }
  }
  
  @media (max-width: 480px) {
    .ending-header {
      font-size: 2rem; /* Even smaller header on smaller devices */
    }
  
    .ending-message {
      font-size: 0.9rem; /* Even smaller message on smaller devices */
    }
  
    .ending-link {
      padding: 0.5rem; /* Smaller padding on mobile */
    }
  }
  