.navbar-container{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    margin-right: 5%;
    margin-top: 1%;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.363) ;
    padding: 1%;
    clip-path: polygon(13% 0, 100% 1%, 100% 67%, 89% 100%, 0 100%, 0 42%);
}