.skill-page {
    color: #eaeaea;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    z-index: 100000;
}

.skill-page-container {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skill-header {
    font-size: 7.8rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.2);
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    width: 100%;
    margin: 0 auto;
    margin-top: -10vh;
    justify-items: center;
}


.skill-category {
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    width: 20vw;
}

.skill-category h2 {
    text-align: center;
    color: var(--highlight-color);
}

.skill-grid {
    display: flex;
    flex-direction: column;
}

.skill-card {
    border-radius: 2px;
    margin: 0.50rem 1rem;
}

.skill-name {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

.skill-bar {
    background-color: var(--background-color);
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
}

.skill-progress {
    background-color: var(--secondary-color);
    height: 100%;
    transition: width 0.5s ease-in-out;
}

.skill-level {
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

@media (max-width: 1341px) {
    .skill-container {
        grid-template-columns: repeat(2, 0.5fr);
        overflow: hidden;
        width: 100%;
        height: auto;
    }

    .skill-category {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .skill-header {
        font-size: 4rem;
    }

    .skill-container {
        grid-template-columns: 1fr;
        gap: 1rem;
        overflow-y: auto;
    }

    .skill-name {
        font-size: 0.9rem;
    }

    .skill-level {
        font-size: 0.7rem;
    }
}

@media (max-width: 480px) {
    .skill-header {
        font-size: 2.5rem;
        margin-bottom: 15%;
    }

    .skill-card {
        padding: 0.3rem;
    }

    .skill-name {
        font-size: 0.8rem;
    }

    .skill-level {
        font-size: 0.6rem;
    }

    .skill-bar {
        height: 8px;
    }

    .skill-page {
        height: fit-content;
        margin-top: 17%;
    }

    .skill-category {
        width: 90%;
        margin-left: 2.5%;
    }
}