body {
    scroll-snap-type: y mandatory;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--background-color);
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100vh;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000000;
    margin-right: 30px;
    background-color: #00000088;
}

.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Adjust height of the fade effect */
    background: linear-gradient(to right, transparent 60%, white); /* Fade effect from right to left */
    pointer-events: none; /* Allow clicks to pass through */
}

.navList ul {
    list-style: none;
    display: flex;
    padding: 30px;
    margin: 0;
}

.navList li {
    margin-left: 20px;
    cursor: pointer;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
    padding: 10px;
    font-size: 1.2rem;
}

.navList li:hover {
    color: var(--highlight-color);
}


.App {
    margin-top: 0px;
    overflow-y: hidden;
}

.text-highlight{
    color: var(--accent-color);
}

@media (max-width: 480px) {
    .App{
        overflow-x: hidden;
    }

    .navList li {
        font-size: 14px;
        margin-left: 0px;
    }

    .navbar::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px; /* Adjust height of the fade effect */
        background: linear-gradient(to right, transparent, white); /* Fade effect from right to left */
        pointer-events: none; /* Allow clicks to pass through */
    }
    
}

.custom-shape-divider-bottom-1729773955 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1729773955 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 442px;
}

.custom-shape-divider-bottom-1729773955 .shape-fill {
    fill: #410505;
}