:root {
  --background-color: #000000; /* Dark background */
  --primary-color: #1E1E1E; /* Surface color */
  --secondary-color: #EAEAEA; /* Primary text color */
  --highlight-color: #AB1818; /* Accent color */
  --text-color: #EAEAEA; /* Text color */
  --text-highlight-color: #B0B0B0; /* Secondary text color */
  --accent-color: #FF4E00; /* Link color */
  --font-family-main: "Orbitron", sans-serif; /* Main font */
  --font-family-code: "VT323", monospace; /* Code font */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Aeonik;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}