:root {
  --background-color: #121212; /* Dark background for a softer look */
  --primary-color: #1E1E1E; /* Surface color for cards and sections */
  --secondary-color: #E0E0E0; /* Primary text color, slightly softer */
  --highlight-color: #FF4C00; /* Accent color for highlights */
  --text-color: #FFFFFF; /* Main text color for high contrast */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Aeonik;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}